* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #111;
    --color-secondary: #333;
    --color-tertiary-1: #fff;

    --box-shadow-1: 0 1rem 2rem rgba(0,0,0,.8);

    --border-radius-1: 1rem;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-primary);
}

.form-container {
    max-width: 40rem;
    margin: 10rem auto;
}

.login {
    padding: 2rem;
    border-radius: var(--border-radius-1);
    width: 100%;
    background-color: var(--color-secondary);
    box-shadow: var(--box-shadow-1);
}

.form-group {
    position: relative;
    padding: .5rem;
    margin-bottom: 2rem;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-1);
}

.form-container input {
    /*display: block;
    width: 100%;*/
    height: 2rem;
    padding: 2rem;
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: transparent;
    /*border-radius: var(--border-radius-1);
    border: 2px solid transparent;

    /*background-color: black;*/
    color: var(--color-tertiary-1);
}

.form-container input:focus {
    /*outline: 2px solid #000;*/
}

.login button {
    display: block;
    outline: none;
    border: 1px solid transparent;
    padding: 1rem 3rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: var(--border-radius-1);
    background-color: var(--color-primary);
    color: var(--color-tertiary-1);
}

.login + p {
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--color-tertiary-1);
}

.icon {
    position: absolute;
    top: 9px;
    height: 3rem;
    color: white;
}

.icon, .form-conatainer input {
    display: inline-block;
}

